<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends 'base.html' %}
    <title>{% block title %}List of Students{% endblock %}</title>
</head>


<body>
{% block content %}
<table class="table mt-5 table-bordered table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email address</th>
                <th>Age</th>
                <th>Words quantity</th>
            </tr>
        </thead>
        <tbody>
        {% for student in all_students %}
            <tr>
                <td>
                    <a href={% url "english_course:student" student.id %}>{{ student.first_name }}</a>
                <td>{{ student.last_name }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.age }}</td>
                <td>{{ student.words_qty }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
</body>
</html>